

body {
background-color: black;
text-align: center;
color:white
}

.table{
position: relative;
  background-image: url("9.jpg");
   width:75%;
    height:800px;
    margin:auto;
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid yellow;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}



h1{

  color:white;
}

.Player{
  position:relative;
  width: 75%;
  border: 2px solid yellow;
  height: 200px;
  margin-left: 10%;
  bottom: -8em;
  color:white;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;

}

.dealer{
  position:relative;
  border: 2px solid yellow;
  width: 75%;
  height: 200px;
  margin-left: 10%;
  top: 3em;
color:white;
border-bottom-left-radius: 25%;
border-bottom-right-radius: 25%;
}

.button{
  position: relative;
   right:-27%;
  bottom: -10em;
  width:6em;
  display:inline-block;

}

#startOver{
  position: relative;
  bottom: -20em;

}


h2{
  font-size: 1.31em;
}

table{
  position: relative;
  left: 6.50em;
  top: 6.5em;
}
table, th, td {
border: 1px solid yellow;
 }
 th{
   background-color: lightgrey;
   text-align: left;
   color:black;
 }

 td{
   color:white;

 }
