

body {
background-image: url("9.jpg");
 width:100%;
  height:100%;
  margin:auto;
  text-align:center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{

  color:white;
}

.Player{
  position:relative;
  width: 75%;
  border: 1px solid yellow;
  height: 200px;
  margin-left: 10%;
  bottom: -8em;
  color:white
}

.dealer{
  position:relative;
  border: 1px solid yellow;
  width: 75%;
  height: 200px;
  margin-left: 10%;
  top: 3em;
color:white
}

.button{
  position: relative;
   right:-25em;
  bottom: -10em;
  display:inline-block;

}

h2{
  font-size: 1.30em;
}

table{
  position: relative;
  left: 6.5em;
  top: 6.5em;
}
table, th, td {
border: 1px solid yellow;
 }
 th{
   background-color: lightgrey;
   text-align: left;

 }

 td{
   color:white;

 }
