body {

background-repeat: no-repeat;
width:1280px;
  height:100%;
  margin:auto;
  text-align:center;
}

h1{

  color:black;
}

.Player{
  width: 75%;
  border: 2px solid yellow;
  height: 200px;
  margin-left: 10%;
  background-color: darkgreen;
  margin-top: 600px
}

.dealer{
  width: 75%;
  border: 2px solid red;
  height: 200px;
  margin-left: 10%;
  background-color: lightgreen;

}
